In [53]:
import openmeteo_requests
import requests_cache
import pandas as pd
from retry_requests import retry
from datetime import datetime

In [54]:
# Setup cache and retry settings
cache_session = requests_cache.CachedSession(".cache", expire_after=-1)
retry_session = retry(cache_session, retries=5, backoff_factor=0.2)
openmeteo = openmeteo_requests.Client(session=retry_session)

In [55]:
# Define parameters for API request with both hourly and daily variables
url = "https://archive-api.open-meteo.com/v1/archive"
params = {
    "latitude": 48.8566,  # Paris latitude
    "longitude": 2.3522,  # Paris longitude
    "start_date": "2020-01-01",
    "end_date": datetime.now().strftime("%Y-%m-%d"),
    "hourly": (
        "temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,"
        "surface_pressure,precipitation,rain,snowfall,cloud_cover,"
        "cloud_cover_low,cloud_cover_mid,cloud_cover_high,shortwave_radiation,"
        "direct_radiation,direct_normal_irradiance,diffuse_radiation,wind_speed_10m,"
        "wind_direction_10m,wind_gusts_10m,et0_fao_evapotranspiration,"
        "weather_code,snow_depth,vapour_pressure_deficit,"
        "soil_temperature_0_to_7cm,soil_temperature_7_to_28cm,"
        "soil_temperature_28_to_100cm,soil_temperature_100_to_255cm,"
        "soil_moisture_0_to_7cm,soil_moisture_7_to_28cm,"
        "soil_moisture_28_to_100cm,soil_moisture_100_to_255cm"
    ),
    "daily": (
        "temperature_2m_min,temperature_2m_max,precipitation_sum,"
        "rain_sum,snowfall_sum,precipitation_hours,sunshine_duration,"
        "daylight_duration,wind_speed_10m_max,wind_gusts_10m_max,"
        "shortwave_radiation_sum,et0_fao_evapotranspiration_sum"
    ),
    "timezone": "auto",
}

In [56]:
# Fetch data from API
responses = openmeteo.weather_api(url, params=params)
response = responses[0]  # First response for Paris

# Display metadata
print(f"Coordinates {response.Latitude()}°N {response.Longitude()}°E")
print(f"Elevation {response.Elevation()} m asl")
print(f"Timezone {response.Timezone()} {response.TimezoneAbbreviation()}")
print(f"Timezone difference to GMT+0 {response.UtcOffsetSeconds()} s")

Coordinates 48.82249450683594°N 2.288135528564453°E
Elevation 36.0 m asl
Timezone b'Europe/Paris' b'CET'
Timezone difference to GMT+0 3600 s

In [57]:
# Process hourly data
hourly = response.Hourly()
hourly_data = {
    "date": pd.date_range(
        start=pd.to_datetime(hourly.Time(), unit="s", utc=True),
        end=pd.to_datetime(hourly.TimeEnd(), unit="s", utc=True),
        freq=pd.Timedelta(seconds=hourly.Interval()),
        inclusive="left",
    )
}

In [58]:
# Organize all variables into a dictionary for DataFrame creation
hourly_data = {
    "date": pd.date_range(
        start=pd.to_datetime(hourly.Time(), unit="s", utc=True),
        end=pd.to_datetime(hourly.TimeEnd(), unit="s", utc=True),
        freq=pd.Timedelta(seconds=hourly.Interval()),
        inclusive="left",
    ),
    "temperature_2m": hourly.Variables(0).ValuesAsNumpy(),
    "relative_humidity_2m": hourly.Variables(1).ValuesAsNumpy(),
    "dew_point_2m": hourly.Variables(2).ValuesAsNumpy(),
    "apparent_temperature": hourly.Variables(3).ValuesAsNumpy(),
    "surface_pressure": hourly.Variables(4).ValuesAsNumpy(),
    "precipitation": hourly.Variables(5).ValuesAsNumpy(),
    "rain": hourly.Variables(6).ValuesAsNumpy(),
    "snowfall": hourly.Variables(7).ValuesAsNumpy(),
    "cloud_cover": hourly.Variables(8).ValuesAsNumpy(),
    "cloud_cover_low": hourly.Variables(9).ValuesAsNumpy(),
    "cloud_cover_mid": hourly.Variables(10).ValuesAsNumpy(),
    "cloud_cover_high": hourly.Variables(11).ValuesAsNumpy(),
    "shortwave_radiation": hourly.Variables(12).ValuesAsNumpy(),
    "direct_radiation": hourly.Variables(13).ValuesAsNumpy(),
    "direct_normal_irradiance": hourly.Variables(14).ValuesAsNumpy(),
    "diffuse_radiation": hourly.Variables(15).ValuesAsNumpy(),
    "wind_speed_10m": hourly.Variables(16).ValuesAsNumpy(),
    "wind_direction_10m": hourly.Variables(17).ValuesAsNumpy(),
    "wind_gusts_10m": hourly.Variables(18).ValuesAsNumpy(),
    "et0_fao_evapotranspiration": hourly.Variables(19).ValuesAsNumpy(),
    "weather_code": hourly.Variables(20).ValuesAsNumpy(),
    "snow_depth": hourly.Variables(21).ValuesAsNumpy(),
    "vapour_pressure_deficit": hourly.Variables(22).ValuesAsNumpy(),
    "soil_temperature_0_to_7cm": hourly.Variables(23).ValuesAsNumpy(),
    "soil_temperature_7_to_28cm": hourly.Variables(24).ValuesAsNumpy(),
    "soil_temperature_28_to_100cm": hourly.Variables(25).ValuesAsNumpy(),
    "soil_temperature_100_to_255cm": hourly.Variables(26).ValuesAsNumpy(),
    "soil_moisture_0_to_7cm": hourly.Variables(27).ValuesAsNumpy(),
    "soil_moisture_7_to_28cm": hourly.Variables(28).ValuesAsNumpy(),
    "soil_moisture_28_to_100cm": hourly.Variables(29).ValuesAsNumpy(),
    "soil_moisture_100_to_255cm": hourly.Variables(30).ValuesAsNumpy(),
}

# Create a DataFrame
hourly_dataframe = pd.DataFrame(data=hourly_data)
print(hourly_dataframe)

                           date  temperature_2m  relative_humidity_2m  \
0     2019-12-31 23:00:00+00:00           -0.14             99.276306
1     2020-01-01 00:00:00+00:00            2.61             98.239220
2     2020-01-01 01:00:00+00:00            2.11             99.644173
3     2020-01-01 02:00:00+00:00            1.91            100.000000
4     2020-01-01 03:00:00+00:00            2.21             97.883568
...                         ...             ...                   ...
42355 2024-10-30 18:00:00+00:00             NaN                   NaN
42356 2024-10-30 19:00:00+00:00             NaN                   NaN
42357 2024-10-30 20:00:00+00:00             NaN                   NaN
42358 2024-10-30 21:00:00+00:00             NaN                   NaN
42359 2024-10-30 22:00:00+00:00             NaN                   NaN

       dew_point_2m  apparent_temperature  surface_pressure  precipitation  \
0             -0.24             -2.673424       1028.159790            0.0
1              2.36              0.337214       1027.808105            0.0
2              2.06             -0.233696       1027.500977            0.0
3              1.91             -0.615977       1027.397827            0.0
4              1.91             -0.663568       1026.905273            0.0
...             ...                   ...               ...            ...
42355           NaN                   NaN               NaN            NaN
42356           NaN                   NaN               NaN            NaN
42357           NaN                   NaN               NaN            NaN
42358           NaN                   NaN               NaN            NaN
42359           NaN                   NaN               NaN            NaN

       rain  snowfall  cloud_cover  ...  snow_depth  vapour_pressure_deficit  \
0       0.0       0.0    90.000000  ...         0.0                 0.004391
1       0.0       0.0    87.299995  ...         0.0                 0.013017
2       0.0       0.0    85.500000  ...         0.0                 0.002539
3       0.0       0.0    84.599998  ...         0.0                 0.000000
4       0.0       0.0    84.599998  ...         0.0                 0.015208
...     ...       ...          ...  ...         ...                      ...
42355   NaN       NaN          NaN  ...         NaN                      NaN
42356   NaN       NaN          NaN  ...         NaN                      NaN
42357   NaN       NaN          NaN  ...         NaN                      NaN
42358   NaN       NaN          NaN  ...         NaN                      NaN
42359   NaN       NaN          NaN  ...         NaN                      NaN

       soil_temperature_0_to_7cm  soil_temperature_7_to_28cm  \
0                           1.11                        3.36
1                           1.86                        4.11
2                           2.21                        4.06
3                           2.41                        4.01
4                           2.61                        4.01
...                          ...                         ...
42355                        NaN                         NaN
42356                        NaN                         NaN
42357                        NaN                         NaN
42358                        NaN                         NaN
42359                        NaN                         NaN

       soil_temperature_28_to_100cm  soil_temperature_100_to_255cm  \
0                              8.26                          12.01
1                              8.26                          12.01
2                              8.21                          12.01
3                              8.21                          12.01
4                              8.21                          12.01
...                             ...                            ...
42355                           NaN                            NaN
42356                           NaN                            NaN
42357                           NaN                            NaN
42358                           NaN                            NaN
42359                           NaN                            NaN

       soil_moisture_0_to_7cm  soil_moisture_7_to_28cm  \
0                       0.380                    0.385
1                       0.382                    0.386
2                       0.382                    0.386
3                       0.382                    0.386
4                       0.382                    0.386
...                       ...                      ...
42355                     NaN                      NaN
42356                     NaN                      NaN
42357                     NaN                      NaN
42358                     NaN                      NaN
42359                     NaN                      NaN

       soil_moisture_28_to_100cm  soil_moisture_100_to_255cm
0                          0.383                       0.288
1                          0.383                       0.288
2                          0.383                       0.288
3                          0.383                       0.288
4                          0.383                       0.288
...                          ...                         ...
42355                        NaN                         NaN
42356                        NaN                         NaN
42357                        NaN                         NaN
42358                        NaN                         NaN
42359                        NaN                         NaN

[42360 rows x 32 columns]

In [59]:
hourly_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42360 entries, 0 to 42359
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           42360 non-null  datetime64[ns, UTC]
 1   temperature_2m                 42314 non-null  float32
 2   relative_humidity_2m           42314 non-null  float32
 3   dew_point_2m                   42314 non-null  float32
 4   apparent_temperature           42314 non-null  float32
 5   surface_pressure               42314 non-null  float32
 6   precipitation                  42314 non-null  float32
 7   rain                           42314 non-null  float32
 8   snowfall                       42314 non-null  float32
 9   cloud_cover                    42314 non-null  float32
 10  cloud_cover_low                42314 non-null  float32
 11  cloud_cover_mid                42314 non-null  float32
 12  cloud_cover_high               42314 non-null  float32
 13  shortwave_radiation            42314 non-null  float32
 14  direct_radiation               42314 non-null  float32
 15  direct_normal_irradiance       42314 non-null  float32
 16  diffuse_radiation              42314 non-null  float32
 17  wind_speed_10m                 42314 non-null  float32
 18  wind_direction_10m             42314 non-null  float32
 19  wind_gusts_10m                 42314 non-null  float32
 20  et0_fao_evapotranspiration     42314 non-null  float32
 21  weather_code                   42314 non-null  float32
 22  snow_depth                     41737 non-null  float32
 23  vapour_pressure_deficit        42314 non-null  float32
 24  soil_temperature_0_to_7cm      42314 non-null  float32
 25  soil_temperature_7_to_28cm     42314 non-null  float32
 26  soil_temperature_28_to_100cm   42314 non-null  float32
 27  soil_temperature_100_to_255cm  42314 non-null  float32
 28  soil_moisture_0_to_7cm         42314 non-null  float32
 29  soil_moisture_7_to_28cm        42314 non-null  float32
 30  soil_moisture_28_to_100cm      42314 non-null  float32
 31  soil_moisture_100_to_255cm     42314 non-null  float32
dtypes: datetime64[ns, UTC](1), float32(31)
memory usage: 5.3 MB

In [60]:
# Which dates have null values?
hourly_dataframe[hourly_dataframe.isnull().any(axis=1)]["date"]

39841   2024-07-18 00:00:00+00:00
39842   2024-07-18 01:00:00+00:00
39843   2024-07-18 02:00:00+00:00
39844   2024-07-18 03:00:00+00:00
39845   2024-07-18 04:00:00+00:00
                   ...
42355   2024-10-30 18:00:00+00:00
42356   2024-10-30 19:00:00+00:00
42357   2024-10-30 20:00:00+00:00
42358   2024-10-30 21:00:00+00:00
42359   2024-10-30 22:00:00+00:00
Name: date, Length: 623, dtype: datetime64[ns, UTC]

In [61]:
# Process daily data
daily = response.Daily()
daily_data_length = len(daily.Variables(0).ValuesAsNumpy())
dates_daily = pd.date_range(
    start=pd.to_datetime(daily.Time(), unit="s", utc=True),
    periods=daily_data_length,
    freq="D",
)

# Define daily data dictionary
daily_data = {
    "date": dates_daily,
    "temperature_2m_min": daily.Variables(0).ValuesAsNumpy(),
    "temperature_2m_max": daily.Variables(1).ValuesAsNumpy(),
    "precipitation_sum": daily.Variables(2).ValuesAsNumpy(),
    "rain_sum": daily.Variables(3).ValuesAsNumpy(),
    "snowfall_sum": daily.Variables(4).ValuesAsNumpy(),
    "precipitation_hours": daily.Variables(5).ValuesAsNumpy(),
    "sunshine_duration": daily.Variables(6).ValuesAsNumpy(),
    "daylight_duration": daily.Variables(7).ValuesAsNumpy(),
    "wind_speed_10m_max": daily.Variables(8).ValuesAsNumpy(),
    "wind_gusts_10m_max": daily.Variables(9).ValuesAsNumpy(),
    "shortwave_radiation_sum": daily.Variables(10).ValuesAsNumpy(),
    "et0_fao_evapotranspiration_sum": daily.Variables(11).ValuesAsNumpy(),
}

In [62]:
# Create daily DataFrame
daily_dataframe = pd.DataFrame(data=daily_data)

# Check for missing values summary
print("Hourly Data - Missing values per column:\n", hourly_dataframe.isnull().sum())
print("Daily Data - Missing values per column:\n", daily_dataframe.isnull().sum())

Hourly Data - Missing values per column:
 date                               0
temperature_2m                    46
relative_humidity_2m              46
dew_point_2m                      46
apparent_temperature              46
surface_pressure                  46
precipitation                     46
rain                              46
snowfall                          46
cloud_cover                       46
cloud_cover_low                   46
cloud_cover_mid                   46
cloud_cover_high                  46
shortwave_radiation               46
direct_radiation                  46
direct_normal_irradiance          46
diffuse_radiation                 46
wind_speed_10m                    46
wind_direction_10m                46
wind_gusts_10m                    46
et0_fao_evapotranspiration        46
weather_code                      46
snow_depth                       623
vapour_pressure_deficit           46
soil_temperature_0_to_7cm         46
soil_temperature_7_to_28cm        46
soil_temperature_28_to_100cm      46
soil_temperature_100_to_255cm     46
soil_moisture_0_to_7cm            46
soil_moisture_7_to_28cm           46
soil_moisture_28_to_100cm         46
soil_moisture_100_to_255cm        46
dtype: int64
Daily Data - Missing values per column:
 date                              0
temperature_2m_min                1
temperature_2m_max                1
precipitation_sum                 2
rain_sum                          2
snowfall_sum                      2
precipitation_hours               0
sunshine_duration                 2
daylight_duration                 0
wind_speed_10m_max                1
wind_gusts_10m_max                1
shortwave_radiation_sum           2
et0_fao_evapotranspiration_sum    2
dtype: int64

In [63]:
daily_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1765 entries, 0 to 1764
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   date                            1765 non-null   datetime64[ns, UTC]
 1   temperature_2m_min              1764 non-null   float32
 2   temperature_2m_max              1764 non-null   float32
 3   precipitation_sum               1763 non-null   float32
 4   rain_sum                        1763 non-null   float32
 5   snowfall_sum                    1763 non-null   float32
 6   precipitation_hours             1765 non-null   float32
 7   sunshine_duration               1763 non-null   float32
 8   daylight_duration               1765 non-null   float32
 9   wind_speed_10m_max              1764 non-null   float32
 10  wind_gusts_10m_max              1764 non-null   float32
 11  shortwave_radiation_sum         1763 non-null   float32
 12  et0_fao_evapotranspiration_sum  1763 non-null   float32
dtypes: datetime64[ns, UTC](1), float32(12)
memory usage: 96.7 KB

In [64]:
df_hourly_missing_values = pd.read_csv("../data/open-meteo-48.82N2.29E43m.csv")

In [65]:
df_hourly_missing_values.fillna(value=0, inplace=True)

In [66]:
df_hourly_missing_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 31 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   time                                504 non-null    object
 1   temperature_2m (°C)                 504 non-null    float64
 2   relative_humidity_2m (%)            504 non-null    int64
 3   dew_point_2m (°C)                   504 non-null    float64
 4   apparent_temperature (°C)           504 non-null    float64
 5   precipitation (mm)                  504 non-null    float64
 6   rain (mm)                           504 non-null    float64
 7   snowfall (cm)                       504 non-null    float64
 8   snow_depth (m)                      504 non-null    float64
 9   weather_code (wmo code)             504 non-null    int64
 10  pressure_msl (hPa)                  504 non-null    float64
 11  surface_pressure (hPa)              504 non-null    float64
 12  cloud_cover (%)                     504 non-null    int64
 13  cloud_cover_low (%)                 504 non-null    int64
 14  cloud_cover_mid (%)                 504 non-null    int64
 15  cloud_cover_high (%)                504 non-null    int64
 16  et0_fao_evapotranspiration (mm)     504 non-null    float64
 17  vapour_pressure_deficit (kPa)       504 non-null    float64
 18  wind_speed_10m (km/h)               504 non-null    float64
 19  wind_speed_100m (km/h)              504 non-null    float64
 20  wind_direction_10m (°)              504 non-null    int64
 21  wind_direction_100m (°)             504 non-null    int64
 22  wind_gusts_10m (km/h)               504 non-null    float64
 23  soil_temperature_0_to_7cm (°C)      504 non-null    float64
 24  soil_temperature_7_to_28cm (°C)     504 non-null    float64
 25  soil_temperature_28_to_100cm (°C)   504 non-null    float64
 26  soil_temperature_100_to_255cm (°C)  504 non-null    float64
 27  soil_moisture_0_to_7cm (m³/m³)      504 non-null    float64
 28  soil_moisture_7_to_28cm (m³/m³)     504 non-null    float64
 29  soil_moisture_28_to_100cm (m³/m³)   504 non-null    float64
 30  soil_moisture_100_to_255cm (m³/m³)  504 non-null    float64
dtypes: float64(22), int64(8), object(1)
memory usage: 122.2+ KB

In [67]:
hourly_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42360 entries, 0 to 42359
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           42360 non-null  datetime64[ns, UTC]
 1   temperature_2m                 42314 non-null  float32
 2   relative_humidity_2m           42314 non-null  float32
 3   dew_point_2m                   42314 non-null  float32
 4   apparent_temperature           42314 non-null  float32
 5   surface_pressure               42314 non-null  float32
 6   precipitation                  42314 non-null  float32
 7   rain                           42314 non-null  float32
 8   snowfall                       42314 non-null  float32
 9   cloud_cover                    42314 non-null  float32
 10  cloud_cover_low                42314 non-null  float32
 11  cloud_cover_mid                42314 non-null  float32
 12  cloud_cover_high               42314 non-null  float32
 13  shortwave_radiation            42314 non-null  float32
 14  direct_radiation               42314 non-null  float32
 15  direct_normal_irradiance       42314 non-null  float32
 16  diffuse_radiation              42314 non-null  float32
 17  wind_speed_10m                 42314 non-null  float32
 18  wind_direction_10m             42314 non-null  float32
 19  wind_gusts_10m                 42314 non-null  float32
 20  et0_fao_evapotranspiration     42314 non-null  float32
 21  weather_code                   42314 non-null  float32
 22  snow_depth                     41737 non-null  float32
 23  vapour_pressure_deficit        42314 non-null  float32
 24  soil_temperature_0_to_7cm      42314 non-null  float32
 25  soil_temperature_7_to_28cm     42314 non-null  float32
 26  soil_temperature_28_to_100cm   42314 non-null  float32
 27  soil_temperature_100_to_255cm  42314 non-null  float32
 28  soil_moisture_0_to_7cm         42314 non-null  float32
 29  soil_moisture_7_to_28cm        42314 non-null  float32
 30  soil_moisture_28_to_100cm      42314 non-null  float32
 31  soil_moisture_100_to_255cm     42314 non-null  float32
dtypes: datetime64[ns, UTC](1), float32(31)
memory usage: 5.3 MB

In [70]:
# Step 1: Align column names and format the date
df_hourly_missing_values = df_hourly_missing_values.rename(
    columns={
        "time": "date",  # Rename time column to date to match hourly_dataframe
        "temperature_2m (°C)": "temperature_2m",
        "relative_humidity_2m (%)": "relative_humidity_2m",
        "dew_point_2m (°C)": "dew_point_2m",
        "apparent_temperature (°C)": "apparent_temperature",
        "precipitation (mm)": "precipitation",
        "rain (mm)": "rain",
        "snowfall (cm)": "snowfall",
        "snow_depth (m)": "snow_depth",
        "weather_code (wmo code)": "weather_code",
        "pressure_msl (hPa)": "pressure_msl",
        "surface_pressure (hPa)": "surface_pressure",
        "cloud_cover (%)": "cloud_cover",
        "cloud_cover_low (%)": "cloud_cover_low",
        "cloud_cover_mid (%)": "cloud_cover_mid",
        "cloud_cover_high (%)": "cloud_cover_high",
        "et0_fao_evapotranspiration (mm)": "et0_fao_evapotranspiration",
        "vapour_pressure_deficit (kPa)": "vapour_pressure_deficit",
        "wind_speed_10m (km/h)": "wind_speed_10m",
        "wind_speed_100m (km/h)": "wind_speed_100m",
        "wind_direction_10m (°)": "wind_direction_10m",
        "wind_direction_100m (°)": "wind_direction_100m",
        "wind_gusts_10m (km/h)": "wind_gusts_10m",
        "soil_temperature_0_to_7cm (°C)": "soil_temperature_0_to_7cm",
        "soil_temperature_7_to_28cm (°C)": "soil_temperature_7_to_28cm",
        "soil_temperature_28_to_100cm (°C)": "soil_temperature_28_to_100cm",
        "soil_temperature_100_to_255cm (°C)": "soil_temperature_100_to_255cm",
        "soil_moisture_0_to_7cm (m³/m³)": "soil_moisture_0_to_7cm",
        "soil_moisture_7_to_28cm (m³/m³)": "soil_moisture_7_to_28cm",
        "soil_moisture_28_to_100cm (m³/m³)": "soil_moisture_28_to_100cm",
        "soil_moisture_100_to_255cm (m³/m³)": "soil_moisture_100_to_255cm",
    }
)

# Convert date columns to datetime to ensure matching format
df_hourly_missing_values["date"] = pd.to_datetime(
    df_hourly_missing_values["date"]
).dt.tz_localize("CET", ambiguous="NaT", nonexistent="NaT")

# Step 2: Merge dataframes
merged_df = (
    hourly_dataframe.set_index("date")
    .combine_first(df_hourly_missing_values.set_index("date"))
    .reset_index()
)

# Step 3: Verify the result
merged_df.info()  # Check if the missing values are filled

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42360 entries, 0 to 42359
Data columns (total 35 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           42360 non-null  datetime64[ns, UTC]
 1   apparent_temperature           42314 non-null  float64
 2   cloud_cover                    42314 non-null  float64
 3   cloud_cover_high               42314 non-null  float64
 4   cloud_cover_low                42314 non-null  float64
 5   cloud_cover_mid                42314 non-null  float64
 6   dew_point_2m                   42314 non-null  float64
 7   diffuse_radiation              42314 non-null  float32
 8   direct_normal_irradiance       42314 non-null  float32
 9   direct_radiation               42314 non-null  float32
 10  et0_fao_evapotranspiration     42314 non-null  float64
 11  precipitation                  42314 non-null  float64
 12  pressure_msl                   504 non-null    float64
 13  rain                           42314 non-null  float64
 14  relative_humidity_2m           42314 non-null  float64
 15  shortwave_radiation            42314 non-null  float32
 16  snow_depth                     42217 non-null  float64
 17  snowfall                       42314 non-null  float64
 18  soil_moisture_0_to_7cm         42314 non-null  float64
 19  soil_moisture_100_to_255cm     42314 non-null  float64
 20  soil_moisture_28_to_100cm      42314 non-null  float64
 21  soil_moisture_7_to_28cm        42314 non-null  float64
 22  soil_temperature_0_to_7cm      42314 non-null  float64
 23  soil_temperature_100_to_255cm  42314 non-null  float64
 24  soil_temperature_28_to_100cm   42314 non-null  float64
 25  soil_temperature_7_to_28cm     42314 non-null  float64
 26  surface_pressure               42314 non-null  float64
 27  temperature_2m                 42314 non-null  float64
 28  vapour_pressure_deficit        42314 non-null  float64
 29  weather_code                   42314 non-null  float64
 30  wind_direction_100m            504 non-null    float64
 31  wind_direction_10m             42314 non-null  float64
 32  wind_gusts_10m                 42314 non-null  float64
 33  wind_speed_100m                504 non-null    float64
 34  wind_speed_10m                 42314 non-null  float64
dtypes: datetime64[ns, UTC](1), float32(4), float64(30)
memory usage: 10.7 MB

In [71]:
merged_df.drop(
    columns=["pressure_msl", "wind_direction_100m", "wind_speed_100m"], inplace=True
)

In [72]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42360 entries, 0 to 42359
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           42360 non-null  datetime64[ns, UTC]
 1   apparent_temperature           42314 non-null  float64
 2   cloud_cover                    42314 non-null  float64
 3   cloud_cover_high               42314 non-null  float64
 4   cloud_cover_low                42314 non-null  float64
 5   cloud_cover_mid                42314 non-null  float64
 6   dew_point_2m                   42314 non-null  float64
 7   diffuse_radiation              42314 non-null  float32
 8   direct_normal_irradiance       42314 non-null  float32
 9   direct_radiation               42314 non-null  float32
 10  et0_fao_evapotranspiration     42314 non-null  float64
 11  precipitation                  42314 non-null  float64
 12  rain                           42314 non-null  float64
 13  relative_humidity_2m           42314 non-null  float64
 14  shortwave_radiation            42314 non-null  float32
 15  snow_depth                     42217 non-null  float64
 16  snowfall                       42314 non-null  float64
 17  soil_moisture_0_to_7cm         42314 non-null  float64
 18  soil_moisture_100_to_255cm     42314 non-null  float64
 19  soil_moisture_28_to_100cm      42314 non-null  float64
 20  soil_moisture_7_to_28cm        42314 non-null  float64
 21  soil_temperature_0_to_7cm      42314 non-null  float64
 22  soil_temperature_100_to_255cm  42314 non-null  float64
 23  soil_temperature_28_to_100cm   42314 non-null  float64
 24  soil_temperature_7_to_28cm     42314 non-null  float64
 25  surface_pressure               42314 non-null  float64
 26  temperature_2m                 42314 non-null  float64
 27  vapour_pressure_deficit        42314 non-null  float64
 28  weather_code                   42314 non-null  float64
 29  wind_direction_10m             42314 non-null  float64
 30  wind_gusts_10m                 42314 non-null  float64
 31  wind_speed_10m                 42314 non-null  float64
dtypes: datetime64[ns, UTC](1), float32(4), float64(27)
memory usage: 9.7 MB

In [73]:
hourly_dataframe_corrected = merged_df.copy()

In [74]:
hourly_dataframe_corrected

,date,apparent_temperature,cloud_cover,cloud_cover_high,cloud_cover_low,cloud_cover_mid,dew_point_2m,diffuse_radiation,direct_normal_irradiance,direct_radiation,...,soil_temperature_100_to_255cm,soil_temperature_28_to_100cm,soil_temperature_7_to_28cm,surface_pressure,temperature_2m,vapour_pressure_deficit,weather_code,wind_direction_10m,wind_gusts_10m,wind_speed_10m
0,2019-12-31 23:00:00+00:00,-2.673424,90.000000,0.0,100.0,0.0,-0.24,0.0,0.0,0.0,...,12.01,8.26,3.36,1028.159790,-0.14,0.004391,3.0,81.869987,5.760000,2.545584
1,2020-01-01 00:00:00+00:00,0.337214,87.299995,0.0,97.0,0.0,2.36,0.0,0.0,0.0,...,12.01,8.26,4.11,1027.808105,2.61,0.013017,3.0,119.054512,7.559999,3.706427
2,2020-01-01 01:00:00+00:00,-0.233696,85.500000,0.0,95.0,0.0,2.06,0.0,0.0,0.0,...,12.01,8.21,4.06,1027.500977,2.11,0.002539,3.0,131.185822,7.200000,3.826853
3,2020-01-01 02:00:00+00:00,-0.615977,84.599998,0.0,94.0,0.0,1.91,0.0,0.0,0.0,...,12.01,8.21,4.01,1027.397827,1.91,0.000000,3.0,162.897186,8.640000,4.896529
4,2020-01-01 03:00:00+00:00,-0.663568,84.599998,0.0,94.0,0.0,1.91,0.0,0.0,0.0,...,12.01,8.21,4.01,1026.905273,2.21,0.015208,3.0,171.469315,13.320000,7.280550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42355,2024-10-30 18:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42356,2024-10-30 19:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42357,2024-10-30 20:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42358,2024-10-30 21:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42359,2024-10-30 22:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
# Print dates with missing values
hourly_dataframe_corrected[hourly_dataframe_corrected.isnull().any(axis=1)]["date"]

42217   2024-10-25 00:00:00+00:00
42218   2024-10-25 01:00:00+00:00
42219   2024-10-25 02:00:00+00:00
42220   2024-10-25 03:00:00+00:00
42221   2024-10-25 04:00:00+00:00
                   ...
42355   2024-10-30 18:00:00+00:00
42356   2024-10-30 19:00:00+00:00
42357   2024-10-30 20:00:00+00:00
42358   2024-10-30 21:00:00+00:00
42359   2024-10-30 22:00:00+00:00
Name: date, Length: 143, dtype: datetime64[ns, UTC]

In [76]:
df_daily_missing_values = pd.read_csv(
    "../data/open-meteo-48.82N2.29E43m-daily-variables.csv"
)

In [77]:
df_daily_missing_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   time                             21 non-null     object
 1   weather_code (wmo code)          21 non-null     int64
 2   temperature_2m_max (°C)          21 non-null     float64
 3   temperature_2m_min (°C)          21 non-null     float64
 4   daylight_duration (s)            21 non-null     float64
 5   sunshine_duration (s)            21 non-null     float64
 6   precipitation_sum (mm)           21 non-null     float64
 7   rain_sum (mm)                    21 non-null     float64
 8   snowfall_sum (cm)                21 non-null     float64
 9   precipitation_hours (h)          21 non-null     float64
 10  wind_speed_10m_max (km/h)        21 non-null     float64
 11  wind_gusts_10m_max (km/h)        21 non-null     float64
 12  shortwave_radiation_sum (MJ/m²)  21 non-null     float64
 13  et0_fao_evapotranspiration (mm)  21 non-null     float64
dtypes: float64(12), int64(1), object(1)
memory usage: 2.4+ KB

In [80]:
daily_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1765 entries, 0 to 1764
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   date                            1765 non-null   datetime64[ns, UTC]
 1   temperature_2m_min              1764 non-null   float32
 2   temperature_2m_max              1764 non-null   float32
 3   precipitation_sum               1763 non-null   float32
 4   rain_sum                        1763 non-null   float32
 5   snowfall_sum                    1763 non-null   float32
 6   precipitation_hours             1765 non-null   float32
 7   sunshine_duration               1763 non-null   float32
 8   daylight_duration               1765 non-null   float32
 9   wind_speed_10m_max              1764 non-null   float32
 10  wind_gusts_10m_max              1764 non-null   float32
 11  shortwave_radiation_sum         1763 non-null   float32
 12  et0_fao_evapotranspiration_sum  1763 non-null   float32
dtypes: datetime64[ns, UTC](1), float32(12)
memory usage: 96.7 KB

In [82]:
df_daily_missing_values

,date,weather_code (wmo code),temperature_2m_max,temperature_2m_min,daylight_duration,sunshine_duration,precipitation_sum,rain_sum,snowfall_sum,precipitation_hours,wind_speed_10m_max,wind_gusts_10m_max,shortwave_radiation_sum,et0_fao_evapotranspiration_sum
0,2024-07-18,2,29.0,14.7,56343.93,50569.87,0.0,0.0,0.0,0.0,8.5,17.6,25.70,5.16
1,2024-07-19,51,31.8,17.8,56212.32,48722.64,0.2,0.2,0.0,2.0,8.4,16.6,23.37,4.97
2,2024-07-20,63,30.2,18.7,56077.21,50603.54,13.6,13.6,0.0,6.0,12.7,28.4,23.72,5.20
3,2024-07-21,51,25.3,18.3,55938.77,35298.14,1.6,1.6,0.0,13.0,19.7,37.8,17.27,3.65
4,2024-07-22,3,24.5,14.5,55797.21,29176.63,0.0,0.0,0.0,0.0,17.4,33.1,15.83,3.69
5,2024-07-23,53,23.7,16.9,55652.70,33998.34,1.9,1.9,0.0,8.0,24.5,46.4,17.68,3.81
6,2024-07-24,3,24.4,13.8,55505.41,43260.05,0.0,0.0,0.0,0.0,7.0,16.2,19.06,3.56
7,2024-07-25,51,27.9,15.6,55355.52,39610.03,0.3,0.3,0.0,1.0,13.3,28.1,21.14,4.82
8,2024-07-26,53,23.6,19.1,55203.22,11893.46,5.0,5.0,0.0,14.0,10.6,21.6,11.44,2.33
9,2024-07-27,61,19.7,16.1,55048.66,648.79,7.6,7.6,0.0,17.0,10.2,21.2,6.66,1.35
10,2024-07-28,1,24.4,11.2,54892.02,50400.00,0.0,0.0,0.0,0.0,14.5,28.8,26.51,4.76
11,2024-07-29,1,29.1,14.4,54733.46,50337.52,0.0,0.0,0.0,0.0,12.9,25.6,24.85,5.04
12,2024-07-30,1,33.6,19.5,54573.12,49639.75,0.0,0.0,0.0,0.0,10.0,18.7,24.19,5.13
13,2024-07-31,63,31.2,21.5,54410.97,41389.14,7.1,7.1,0.0,4.0,17.6,30.2,18.84,3.90
14,2024-08-01,65,28.6,20.3,54245.68,37803.39,29.4,29.4,0.0,8.0,13.7,35.3,18.24,3.49
15,2024-08-02,61,27.2,18.5,54077.18,49875.25,2.7,2.7,0.0,5.0,19.4,36.7,22.08,4.55
16,2024-08-03,51,24.1,15.0,53905.67,22052.18,0.6,0.6,0.0,2.0,14.8,27.4,14.30,3.20
17,2024-08-04,3,23.4,16.2,53731.37,39707.99,0.0,0.0,0.0,0.0,14.3,27.0,21.20,3.93
18,2024-08-05,1,27.5,13.4,53554.47,49549.71,0.0,0.0,0.0,0.0,8.4,19.8,25.61,4.89
19,2024-08-06,3,28.2,15.5,53375.18,48552.75,0.0,0.0,0.0,0.0,15.6,28.8,24.26,5.10
20,2024-08-07,61,23.3,16.5,53193.67,39029.59,2.9,2.9,0.0,6.0,13.7,28.1,19.64,4.07

In [83]:
# Step 1: Align column names
df_daily_missing_values = df_daily_missing_values.rename(
    columns={
        "time": "date",
        "temperature_2m_max (°C)": "temperature_2m_max",
        "temperature_2m_min (°C)": "temperature_2m_min",
        "daylight_duration (s)": "daylight_duration",
        "sunshine_duration (s)": "sunshine_duration",
        "precipitation_sum (mm)": "precipitation_sum",
        "rain_sum (mm)": "rain_sum",
        "snowfall_sum (cm)": "snowfall_sum",
        "precipitation_hours (h)": "precipitation_hours",
        "wind_speed_10m_max (km/h)": "wind_speed_10m_max",
        "wind_gusts_10m_max (km/h)": "wind_gusts_10m_max",
        "shortwave_radiation_sum (MJ/m²)": "shortwave_radiation_sum",
        "et0_fao_evapotranspiration (mm)": "et0_fao_evapotranspiration_sum",
    }
)

# Ensure 'date' is parsed as datetime before applying timezone localization
df_daily_missing_values["date"] = pd.to_datetime(df_daily_missing_values["date"])

# Now, apply CET timezone localization
df_daily_missing_values["date"] = df_daily_missing_values["date"].dt.tz_localize(
    "CET", ambiguous="NaT", nonexistent="NaT"
)

# Step 2: Merge dataframes and fill missing values
merged_daily_df = (
    daily_dataframe.set_index("date")
    .combine_first(df_daily_missing_values.set_index("date"))
    .reset_index()
)

# Step 3: Verify the merged data
merged_daily_df.info()  # This will show if missing values are filled

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1786 entries, 0 to 1785
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   date                            1786 non-null   datetime64[ns, UTC]
 1   daylight_duration               1786 non-null   float64
 2   et0_fao_evapotranspiration_sum  1784 non-null   float64
 3   precipitation_hours             1786 non-null   float64
 4   precipitation_sum               1784 non-null   float64
 5   rain_sum                        1784 non-null   float64
 6   shortwave_radiation_sum         1784 non-null   float64
 7   snowfall_sum                    1784 non-null   float64
 8   sunshine_duration               1784 non-null   float64
 9   temperature_2m_max              1785 non-null   float64
 10  temperature_2m_min              1785 non-null   float64
 11  weather_code (wmo code)         21 non-null     float64
 12  wind_gusts_10m_max              1785 non-null   float64
 13  wind_speed_10m_max              1785 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(13)
memory usage: 195.5 KB

In [84]:
merged_daily_df.drop(columns=["weather_code (wmo code)"], inplace=True)

In [85]:
daily_dataframe_corrected = merged_daily_df.copy()

In [86]:
daily_dataframe_corrected

,date,daylight_duration,et0_fao_evapotranspiration_sum,precipitation_hours,precipitation_sum,rain_sum,shortwave_radiation_sum,snowfall_sum,sunshine_duration,temperature_2m_max,temperature_2m_min,wind_gusts_10m_max,wind_speed_10m_max
0,2019-12-31 23:00:00+00:00,30005.021484,0.196938,5.0,0.500000,0.500000,1.58,0.0,0.000000,5.660000,-0.140000,23.759998,11.681987
1,2020-01-01 23:00:00+00:00,30067.091797,0.303851,9.0,1.500000,1.500000,2.16,0.0,10429.040039,9.310000,5.210000,36.360001,19.855558
2,2020-01-02 23:00:00+00:00,30134.396484,0.544292,7.0,1.000000,1.000000,2.22,0.0,11011.313477,11.510000,8.160000,46.799999,25.161400
3,2020-01-03 23:00:00+00:00,30206.789062,0.538588,0.0,0.000000,0.000000,4.28,0.0,21072.218750,8.710000,3.110000,32.760002,16.119801
4,2020-01-04 23:00:00+00:00,30284.138672,0.420078,0.0,0.000000,0.000000,3.75,0.0,24806.644531,8.960000,2.710000,15.840000,7.289444
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1781,2024-10-25 23:00:00+00:00,36687.621094,0.871624,12.0,4.699999,4.699999,5.72,0.0,17721.390625,18.160000,12.310000,20.519999,6.877789
1782,2024-10-26 23:00:00+00:00,36486.011719,0.609350,5.0,2.800000,2.800000,3.18,0.0,1329.731445,16.360001,13.110001,20.519999,10.209348
1783,2024-10-27 23:00:00+00:00,36285.320312,0.914235,0.0,0.000000,0.000000,5.57,0.0,14961.370117,17.610001,10.360001,19.440001,9.668195
1784,2024-10-28 23:00:00+00:00,36085.750000,NaN,0.0,NaN,NaN,NaN,NaN,NaN,10.210000,9.460000,11.520000,7.029225
1785,2024-10-29 23:00:00+00:00,35887.480469,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
# Dates with missing values in daily dataframe corrected
daily_dataframe_corrected[daily_dataframe_corrected.isnull().any(axis=1)]["date"]

1784   2024-10-28 23:00:00+00:00
1785   2024-10-29 23:00:00+00:00
Name: date, dtype: datetime64[ns, UTC]

In [89]:
# check duplicates
daily_dataframe_corrected.duplicated().sum()

np.int64(0)

In [90]:
# Ensure `date` column in `daily_dataframe` is of datetime type and aligns at midnight
daily_dataframe_corrected["date"] = pd.to_datetime(
    daily_dataframe_corrected["date"]
).dt.floor("D")

In [91]:
daily_dataframe_corrected

,date,daylight_duration,et0_fao_evapotranspiration_sum,precipitation_hours,precipitation_sum,rain_sum,shortwave_radiation_sum,snowfall_sum,sunshine_duration,temperature_2m_max,temperature_2m_min,wind_gusts_10m_max,wind_speed_10m_max
0,2019-12-31 00:00:00+00:00,30005.021484,0.196938,5.0,0.500000,0.500000,1.58,0.0,0.000000,5.660000,-0.140000,23.759998,11.681987
1,2020-01-01 00:00:00+00:00,30067.091797,0.303851,9.0,1.500000,1.500000,2.16,0.0,10429.040039,9.310000,5.210000,36.360001,19.855558
2,2020-01-02 00:00:00+00:00,30134.396484,0.544292,7.0,1.000000,1.000000,2.22,0.0,11011.313477,11.510000,8.160000,46.799999,25.161400
3,2020-01-03 00:00:00+00:00,30206.789062,0.538588,0.0,0.000000,0.000000,4.28,0.0,21072.218750,8.710000,3.110000,32.760002,16.119801
4,2020-01-04 00:00:00+00:00,30284.138672,0.420078,0.0,0.000000,0.000000,3.75,0.0,24806.644531,8.960000,2.710000,15.840000,7.289444
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1781,2024-10-25 00:00:00+00:00,36687.621094,0.871624,12.0,4.699999,4.699999,5.72,0.0,17721.390625,18.160000,12.310000,20.519999,6.877789
1782,2024-10-26 00:00:00+00:00,36486.011719,0.609350,5.0,2.800000,2.800000,3.18,0.0,1329.731445,16.360001,13.110001,20.519999,10.209348
1783,2024-10-27 00:00:00+00:00,36285.320312,0.914235,0.0,0.000000,0.000000,5.57,0.0,14961.370117,17.610001,10.360001,19.440001,9.668195
1784,2024-10-28 00:00:00+00:00,36085.750000,NaN,0.0,NaN,NaN,NaN,NaN,NaN,10.210000,9.460000,11.520000,7.029225
1785,2024-10-29 00:00:00+00:00,35887.480469,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
# Identify duplicates in the floored 'date' column
duplicate_dates = daily_dataframe_corrected[
    daily_dataframe_corrected.duplicated(subset="date", keep=False)
]
print("Duplicate dates after flooring:\n", duplicate_dates)

Duplicate dates after flooring:
                           date  daylight_duration  \
1660 2024-07-17 00:00:00+00:00       56343.930000
1661 2024-07-17 00:00:00+00:00       56343.925781
1662 2024-07-18 00:00:00+00:00       56212.320000
1663 2024-07-18 00:00:00+00:00       56212.320312
1664 2024-07-19 00:00:00+00:00       56077.210000
1665 2024-07-19 00:00:00+00:00       56077.207031
1666 2024-07-20 00:00:00+00:00       55938.770000
1667 2024-07-20 00:00:00+00:00       55938.773438
1668 2024-07-21 00:00:00+00:00       55797.210000
1669 2024-07-21 00:00:00+00:00       55797.207031
1670 2024-07-22 00:00:00+00:00       55652.700000
1671 2024-07-22 00:00:00+00:00       55652.695312
1672 2024-07-23 00:00:00+00:00       55505.410000
1673 2024-07-23 00:00:00+00:00       55505.406250
1674 2024-07-24 00:00:00+00:00       55355.520000
1675 2024-07-24 00:00:00+00:00       55355.523438
1676 2024-07-25 00:00:00+00:00       55203.220000
1677 2024-07-25 00:00:00+00:00       55203.218750
1678 2024-07-26 00:00:00+00:00       55048.660000
1679 2024-07-26 00:00:00+00:00       55048.664062
1680 2024-07-27 00:00:00+00:00       54892.020000
1681 2024-07-27 00:00:00+00:00       54892.023438
1682 2024-07-28 00:00:00+00:00       54733.460000
1683 2024-07-28 00:00:00+00:00       54733.457031
1684 2024-07-29 00:00:00+00:00       54573.120000
1685 2024-07-29 00:00:00+00:00       54573.121094
1686 2024-07-30 00:00:00+00:00       54410.970000
1687 2024-07-30 00:00:00+00:00       54410.968750
1688 2024-07-31 00:00:00+00:00       54245.680000
1689 2024-07-31 00:00:00+00:00       54245.683594
1690 2024-08-01 00:00:00+00:00       54077.180000
1691 2024-08-01 00:00:00+00:00       54077.179688
1692 2024-08-02 00:00:00+00:00       53905.670000
1693 2024-08-02 00:00:00+00:00       53905.671875
1694 2024-08-03 00:00:00+00:00       53731.370000
1695 2024-08-03 00:00:00+00:00       53731.371094
1696 2024-08-04 00:00:00+00:00       53554.470000
1697 2024-08-04 00:00:00+00:00       53554.472656
1698 2024-08-05 00:00:00+00:00       53375.180000
1699 2024-08-05 00:00:00+00:00       53375.175781
1700 2024-08-06 00:00:00+00:00       53193.670000
1701 2024-08-06 00:00:00+00:00       53193.667969

      et0_fao_evapotranspiration_sum  precipitation_hours  precipitation_sum  \
1660                        5.160000                  0.0           0.000000
1661                        5.165236                  0.0           0.000000
1662                        4.970000                  2.0           0.200000
1663                        4.974773                  2.0           0.200000
1664                        5.200000                  6.0          13.600000
1665                        5.209513                  6.0          13.599999
1666                        3.650000                 13.0           1.600000
1667                        3.652382                 13.0           1.600000
1668                        3.690000                  0.0           0.000000
1669                        3.693965                  0.0           0.000000
1670                        3.810000                  8.0           1.900000
1671                        3.813528                  8.0           1.900000
1672                        3.560000                  0.0           0.000000
1673                        3.560812                  0.0           0.000000
1674                        4.820000                  1.0           0.300000
1675                        4.824823                  1.0           0.300000
1676                        2.330000                 14.0           5.000000
1677                        2.332857                 14.0           5.000000
1678                        1.350000                 17.0           7.600000
1679                        1.356298                 17.0           7.599999
1680                        4.760000                  0.0           0.000000
1681                        4.767259                  0.0           0.000000
1682                        5.040000                  0.0           0.000000
1683                        5.040670                  0.0           0.000000
1684                        5.130000                  0.0           0.000000
1685                        5.131781                  0.0           0.000000
1686                        3.900000                  4.0           7.100000
1687                        3.902964                  4.0           7.100000
1688                        3.490000                  8.0          29.400000
1689                        3.491168                  8.0          29.400000
1690                        4.550000                  5.0           2.700000
1691                        4.557636                  5.0           2.700000
1692                        3.200000                  2.0           0.600000
1693                        3.201282                  2.0           0.600000
1694                        3.930000                  0.0           0.000000
1695                        3.931427                  0.0           0.000000
1696                        4.890000                  0.0           0.000000
1697                        4.895193                  0.0           0.000000
1698                        5.100000                  0.0           0.000000
1699                        5.109473                  0.0           0.000000
1700                        4.070000                  6.0           2.900000
1701                        4.071831                  6.0           2.900000

       rain_sum  shortwave_radiation_sum  snowfall_sum  sunshine_duration  \
1660   0.000000                25.700000           0.0       50569.870000
1661   0.000000                25.700001           0.0       50569.871094
1662   0.200000                23.370000           0.0       48722.640000
1663   0.200000                23.370001           0.0       48722.636719
1664  13.600000                23.720000           0.0       50603.540000
1665  13.599999                23.719999           0.0       50603.539062
1666   1.600000                17.270000           0.0       35298.140000
1667   1.600000                17.270000           0.0       35298.136719
1668   0.000000                15.830000           0.0       29176.630000
1669   0.000000                15.830000           0.0       29176.630859
1670   1.900000                17.680000           0.0       33998.340000
1671   1.900000                17.680000           0.0       33998.343750
1672   0.000000                19.060000           0.0       43260.050000
1673   0.000000                19.059999           0.0       43260.054688
1674   0.300000                21.140000           0.0       39610.030000
1675   0.300000                21.139999           0.0       39610.027344
1676   5.000000                11.440000           0.0       11893.460000
1677   5.000000                11.440000           0.0       11893.463867
1678   7.600000                 6.660000           0.0         648.790000
1679   7.599999                 6.660000           0.0         648.793030
1680   0.000000                26.510000           0.0       50400.000000
1681   0.000000                26.510000           0.0       50400.000000
1682   0.000000                24.850000           0.0       50337.520000
1683   0.000000                24.850000           0.0       50337.515625
1684   0.000000                24.190000           0.0       49639.750000
1685   0.000000                24.190001           0.0       49639.753906
1686   7.100000                18.840000           0.0       41389.140000
1687   7.100000                18.840000           0.0       41389.136719
1688  29.400000                18.240000           0.0       37803.390000
1689  29.400000                18.240000           0.0       37803.386719
1690   2.700000                22.080000           0.0       49875.250000
1691   2.700000                22.080000           0.0       49875.250000
1692   0.600000                14.300000           0.0       22052.180000
1693   0.600000                14.300000           0.0       22052.179688
1694   0.000000                21.200000           0.0       39707.990000
1695   0.000000                21.200001           0.0       39707.988281
1696   0.000000                25.610000           0.0       49549.710000
1697   0.000000                25.610001           0.0       49549.710938
1698   0.000000                24.260000           0.0       48552.750000
1699   0.000000                24.260000           0.0       48552.750000
1700   2.900000                19.640000           0.0       39029.590000
1701   2.900000                19.639999           0.0       39029.585938

      temperature_2m_max  temperature_2m_min  wind_gusts_10m_max  \
1660           29.000000           14.700000           17.600000
1661           29.010000           14.760000           17.639999
1662           31.800000           17.800000           16.600000
1663           31.860001           17.860001           16.559999
1664           30.200000           18.700000           28.400000
1665           30.260000           18.710001           28.440001
1666           25.300000           18.300000           37.800000
1667           25.309999           18.309999           37.799999
1668           24.500000           14.500000           33.100000
1669           24.510000           14.510000           33.119999
1670           23.700000           16.900000           46.400000
1671           23.760000           16.960001           46.439999
1672           24.400000           13.800000           16.200000
1673           24.460001           13.860001           16.199999
1674           27.900000           15.600000           28.100000
1675           27.960001           15.610001           28.080000
1676           23.600000           19.100000           21.600000
1677           23.610001           19.110001           21.599998
1678           19.700000           16.100000           21.200000
1679           19.760000           16.110001           21.240000
1680           24.400000           11.200000           28.800000
1681           24.460001           11.260000           28.799999
1682           29.100000           14.400000           25.600000
1683           29.160000           14.460000           25.559999
1684           33.600000           19.500000           18.700000
1685           33.609997           19.559999           18.719999
1686           31.200000           21.500000           30.200000
1687           31.210001           21.510000           30.239998
1688           28.600000           20.300000           35.300000
1689           28.660000           20.309999           35.279999
1690           27.200000           18.500000           36.700000
1691           27.210001           18.559999           36.719997
1692           24.100000           15.000000           27.400000
1693           24.160000           15.060000           27.359999
1694           23.400000           16.200000           27.000000
1695           23.460001           16.209999           27.000000
1696           27.500000           13.400000           19.800000
1697           27.510000           13.410000           19.799999
1698           28.200000           15.500000           28.800000
1699           28.260000           15.560000           28.799999
1700           23.300000           16.500000           28.100000
1701           23.360001           16.510000           28.080000

      wind_speed_10m_max
1660            8.500000
1661            8.534353
1662            8.400000
1663            8.427383
1664           12.700000
1665           12.722830
1666           19.700000
1667           19.734436
1668           17.400000
1669           17.447933
1670           24.500000
1671           24.546085
1672            7.000000
1673            6.989935
1674           13.300000
1675           13.324863
1676           10.600000
1677           10.587918
1678           10.200000
1679           10.182337
1680           14.500000
1681           14.494192
1682           12.900000
1683           12.864649
1684           10.000000
1685           10.028439
1686           17.600000
1687           17.555307
1688           13.700000
1689           13.722565
1690           19.400000
1691           19.373219
1692           14.800000
1693           14.825706
1694           14.300000
1695           14.336861
1696            8.400000
1697            8.404285
1698           15.600000
1699           15.584300
1700           13.700000
1701           13.708391

In [94]:
# Aggregate duplicates by taking the mean of each duplicate group
daily_dataframe_corrected = daily_dataframe_corrected.groupby(
    "date", as_index=False
).mean()

# Check if duplicates are removed
daily_dataframe_corrected.duplicated().sum()

np.int64(0)

In [95]:
# Resample the daily data to hourly by repeating each daily value across all 24 hours
# for each day, then join with the hourly data
daily_expanded = (
    daily_dataframe_corrected.set_index("date").resample("H").ffill().reset_index()
)

C:\Users\ameya\AppData\Local\Temp\ipykernel_20540\1068732823.py:4: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  daily_dataframe_corrected.set_index("date").resample("H").ffill().reset_index()

In [98]:
# Merge the expanded daily data with hourly data on the `date` column
merged_dataframe = pd.merge(
    hourly_dataframe_corrected, daily_expanded, on="date", how="left"
)

In [99]:
merged_dataframe.dropna(inplace=True)

In [100]:
merged_dataframe["date"].min(), merged_dataframe["date"].max()

(Timestamp('2019-12-31 23:00:00+0000', tz='UTC'),
 Timestamp('2024-10-24 23:00:00+0000', tz='UTC'))

In [101]:
merged_dataframe.to_csv("../data/paris_weather_extensive.csv", index=False)

In [102]:
merged_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42217 entries, 0 to 42216
Data columns (total 44 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   date                            42217 non-null  datetime64[ns, UTC]
 1   apparent_temperature            42217 non-null  float64
 2   cloud_cover                     42217 non-null  float64
 3   cloud_cover_high                42217 non-null  float64
 4   cloud_cover_low                 42217 non-null  float64
 5   cloud_cover_mid                 42217 non-null  float64
 6   dew_point_2m                    42217 non-null  float64
 7   diffuse_radiation               42217 non-null  float32
 8   direct_normal_irradiance        42217 non-null  float32
 9   direct_radiation                42217 non-null  float32
 10  et0_fao_evapotranspiration      42217 non-null  float64
 11  precipitation                   42217 non-null  float64
 12  rain                            42217 non-null  float64
 13  relative_humidity_2m            42217 non-null  float64
 14  shortwave_radiation             42217 non-null  float32
 15  snow_depth                      42217 non-null  float64
 16  snowfall                        42217 non-null  float64
 17  soil_moisture_0_to_7cm          42217 non-null  float64
 18  soil_moisture_100_to_255cm      42217 non-null  float64
 19  soil_moisture_28_to_100cm       42217 non-null  float64
 20  soil_moisture_7_to_28cm         42217 non-null  float64
 21  soil_temperature_0_to_7cm       42217 non-null  float64
 22  soil_temperature_100_to_255cm   42217 non-null  float64
 23  soil_temperature_28_to_100cm    42217 non-null  float64
 24  soil_temperature_7_to_28cm      42217 non-null  float64
 25  surface_pressure                42217 non-null  float64
 26  temperature_2m                  42217 non-null  float64
 27  vapour_pressure_deficit         42217 non-null  float64
 28  weather_code                    42217 non-null  float64
 29  wind_direction_10m              42217 non-null  float64
 30  wind_gusts_10m                  42217 non-null  float64
 31  wind_speed_10m                  42217 non-null  float64
 32  daylight_duration               42217 non-null  float64
 33  et0_fao_evapotranspiration_sum  42217 non-null  float64
 34  precipitation_hours             42217 non-null  float64
 35  precipitation_sum               42217 non-null  float64
 36  rain_sum                        42217 non-null  float64
 37  shortwave_radiation_sum         42217 non-null  float64
 38  snowfall_sum                    42217 non-null  float64
 39  sunshine_duration               42217 non-null  float64
 40  temperature_2m_max              42217 non-null  float64
 41  temperature_2m_min              42217 non-null  float64
 42  wind_gusts_10m_max              42217 non-null  float64
 43  wind_speed_10m_max              42217 non-null  float64
dtypes: datetime64[ns, UTC](1), float32(4), float64(39)
memory usage: 13.8 MB